div {
	display: inline-block;
	border-radius: 10px;
	border: 20px;
	margin: 2px;
	background-color: #85aa41;
}

iframe { 
	
}

.menu {
	width: 100%;
	height: 80px;
}

.left-sidebar {
		width: 24%;
		height: 60px;
}

.main {
	background-color: white;
	border: solid darkred 1px;
	width: 74.5%;
}

.footer {
		width: 100%;
		height: 30px;
}
